:javascript
  function get_proxy_prefix() {
    return "#{request.domain == 'papyri.info' ? '' : url_for(:controller => 'ajax_proxy', :only_path => true)}";
  }
  function get_collection_prefix() {
    var prefix = get_proxy_prefix() + "#{request.domain == 'papyri.info' ? '' : '/papyri.info'}";
    if(jQuery('#IdentifierClass').val() == 'DDBIdentifier') {
      return prefix + '/ddbdp/' + jQuery('#DDBIdentifierCollectionSelect').val();
    }
    else {
      if(jQuery('#IdentifierClass').val() == 'HGVIdentifier') {
        return prefix + '/hgv/' + jQuery('#HGVIdentifierCollectionSelect').val();
      }
      else {
        return prefix + '/apis/' + jQuery('#APISIdentifierCollectionSelect').val();
      }
    }
  }
  
  function get_collection_uri() {
    var prefix = "http://papyri.info";
    if(jQuery('#IdentifierClass').val() == 'DDBIdentifier') {
      return prefix + '/ddbdp/' + jQuery('#DDBIdentifierCollectionSelect').val();
    }
    else {
      if(jQuery('#IdentifierClass').val() == 'HGVIdentifier') {
        return prefix + '/hgv/' + jQuery('#HGVIdentifierCollectionSelect').val();
      }
      else {
        return prefix + '/apis/' + jQuery('#APISIdentifierCollectionSelect').val();
      }
    }
  }
  
  function reset_selector(select_element) {
    select_element.children().each(Element.remove);
    select_element.append("<option></option>");
  }

  function toggle_availability() {
    ['IdentifierClass',
     'HGVIdentifierCollectionSelect',
     'DDBIdentifierCollectionSelect',
     'APISIdentifierCollectionSelect',
     'volume_number', 'document_number'].each(function(s) {
      if($(s).disabled == '') {
        $(s).disabled = true;
      }
      else {
        $(s).disabled = '';
      }
     });
  }
  
  function construct_hgv_sparql_query(volume_reference) {
    var query = "prefix dcterms: <http://purl.org/dc/terms/>\n"
      + "construct {<http://papyri.info/hgv/" + volume_reference + "> dcterms:hasPart ?b}\n"
      + "from <http://papyri.info/graph>\n"
      + "where { <http://papyri.info/hgv/" + volume_reference + "> dcterms:hasPart ?a .\n"
      + "        ?a dcterms:identifier ?b\n"
      + "        filter regex(str(?b), \"^http://papyri.info\")}";
    query = encodeURIComponent(query);
    var full_query = get_proxy_prefix() + 
      String("#{request.domain == 'papyri.info' ? '/sparql?query=' : '/sparql/'}").concat(query);
    return full_query;
  }

  function get_allowed_values(select_element, volume_number, request_url, disable_volume) {
    reset_selector(select_element);
    toggle_availability();
    
    if(request_url === undefined) {
      request_url = get_collection_prefix();
    }
    if(!(volume_number === undefined)) {
      if(jQuery('#IdentifierClass').val() == 'DDBIdentifier') {
        request_url = request_url + ';' + volume_number + "#{request.domain == 'papyri.info' ? '/json' : ''}";
      }
      else {
        volume_reference = request_url.sub(/^.*\//,'') + '_' + volume_number;
        request_url = construct_hgv_sparql_query(volume_reference);
      }
    }
    else if(!((jQuery('#IdentifierClass').val() == 'HGVIdentifier') && (disable_volume == true))) {
      request_url = request_url + "#{request.domain == 'papyri.info' ? '/json' : ''}";
    }
    new Ajax.Request(request_url, {
      method: 'get',
      requestHeaders: { "Accept": 'application/rdf+json' },
      onSuccess: function(response) {
        var json = response.responseText.evalJSON();
        
        if(disable_volume === undefined) {
          disable_volume = false;
        }
        var is_hgv_identifier = false;
        var subject;
        if (volume_number) {
          if(jQuery('#IdentifierClass').val() == 'HGVIdentifier') {
            subject = get_collection_uri() + "_" + volume_number;
          }
          else {
            subject = get_collection_uri() + ";" + volume_number;
          }
        } else {
          subject = get_collection_uri();
        }
        var parts = json[subject]['http://purl.org/dc/terms/hasPart'];
        var values = parts.collect(function(p) {
          if(jQuery('#IdentifierClass').val() == 'HGVIdentifier') {
            // for HGV if we get HGV id's back immediately (i.e. no vols)
            // we want to re-run the query with SPARQL
            if((!disable_volume) && p['value'].match(/hgv\/\d+\D*\/source$/)) {
              disable_volume = true;
              reset_selector(select_element);
              is_hgv_identifier = true;
              sparql_query = construct_hgv_sparql_query(jQuery('#HGVIdentifierCollectionSelect').val());
              get_allowed_values(jQuery('#document_number'), undefined,
                sparql_query,
                disable_volume);
              toggle_availability();
            }
          }
          else if(!disable_volume && p['value'].match(/;;/)) {
            select_element = jQuery('#document_number');
            reset_selector(select_element);
            disable_volume = true;
          }
          
          if(!is_hgv_identifier) {
            // ; for DDB and _ for HGV
            var elements = p['value'].split(/[;_]/);
            var lastpart;
            if(jQuery('#IdentifierClass').val() == 'HGVIdentifier') {
              lastpart = p['value'].sub(new RegExp('^.*\\/' + jQuery('#HGVIdentifierCollectionSelect').val() + '_'),'');
              if(select_element == jQuery('#document_number') && !disable_volume) {
                lastpart = lastpart.sub(new RegExp(jQuery('#volume_number').val()+ '_'),'');
              }
            }
            else {
              lastpart = elements[elements.length-1];
            }
            return unescape(lastpart.sub(/\/source$/,''));
          }
          else { //is hgv identifier
            return null;
          }
        }).sortBy(function(s) {
          return parseFloat(s);
        });
        
        if(!is_hgv_identifier) {
          values.each(function(v) {
            select_element.append("<option value=\"" + v + "\">" + v + "</option>");
          });
          select_element.children()[0].selected = true;
          toggle_availability();
          if(disable_volume) {
            jQuery('#volume_number').disabled = true;
          }
          else if(select_element == jQuery('#volume_number')) {
            jQuery('#document_number').disabled = true;
          }
        }
      } //end on success function
    }); //end ajax request
  } //end get_allowed_values
  

  //**************************************************************************************
  //* fills in the documents drop down for APIS collection only
  //**************************************************************************************

  function get_apis_documents() {

    reset_selector(jQuery('#document_number'));
    select_element = jQuery('#document_number')

    request_url = get_collection_prefix();

    request_url = request_url + "#{request.domain == 'papyri.info' ? '/json' : ''}";

    new Ajax.Request(request_url, {
      method: 'get',
      onSuccess: function(response) {
        json = response.responseText.evalJSON();

        is_hgv_identifier = false;
        
        parts = json["http://papyri.info/apis/" + jQuery('#APISIdentifierCollectionSelect').val()]['http://purl.org/dc/terms/hasPart'];

        values = parts.collect(function(p) {

          elements = p['value'].split(/[\.]/);

          lastpart = elements[elements.length-1];

          return unescape(lastpart.sub(/\/source$/,''));

        }).sortBy(function(s) {
          return parseFloat(s);
        });

        values.each(function(v) {
          select_element.append("<option value=\"" + v + "\">" + v + "</option>");
        });
        select_element.children()[0].selected = true;

      } //end on success function
    }); //end ajax request
  } //end get_apis_documents
  
  function update_volumes() {
    get_allowed_values(jQuery('#volume_number'));
  }
  function update_documents() {
    get_allowed_values(jQuery('#document_number'),jQuery('#volume_number').val());
  }
  
  function reset_vol_doc_em() {
    reset_selector(jQuery('#volume_number'));
    reset_selector(jQuery('#document_number'));
    jQuery('#volume_number').disabled=true;
    jQuery('#document_number').disabled=true;
    jQuery('#emend_button').disabled=true;
  }

  function IDClassChange(class_selected) {
    //alert("class_selected = " + class_selected);
    switch(class_selected)
    {
    case "DDBIdentifier":
      jQuery('#DDBIdentifierCollectionSelect').removeClass('invisible');
      jQuery('#HGVIdentifierCollectionSelect).addClass('invisible');
      jQuery('#APISIdentifierCollectionSelect).addClass('invisible');
      break;
    case "HGVIdentifier":
      jQuery('#DDBIdentifierCollectionSelect).addClass('invisible');
      jQuery('#HGVIdentifierCollectionSelect').removeClass('invisible');
      jQuery('#APISIdentifierCollectionSelect).addClass('invisible');
      break;
    case "APISIdentifier":
      jQuery('#DDBIdentifierCollectionSelect).addClass('invisible');
      jQuery('#HGVIdentifierCollectionSelect).addClass('invisible');
      jQuery('#APISIdentifierCollectionSelect').removeClass('invisible');
      break;
    default: 
      alert("The following value needs to be added to the IDClassChange Javascript function - " + class_selected);
    }

    reset_vol_doc_em();
  }
  
  jQuery(document).ready( function() {
    jQuery('#IdentifierClass').children()[0].selected = true;
    jQuery('#DDBIdentifierCollectionSelect').children()[0].selected = true;
    jQuery('#HGVIdentifierCollectionSelect').children()[0].selected = true;
    
    jQuery('#DDBIdentifierCollectionSelect').removeClass('invisible');
    jQuery('#HGVIdentifierCollectionSelect).addClass('invisible');

    if (jQuery('#APISIdentifierCollectionSelect')) //only when used in helper pop up
      {
        jQuery('#APISIdentifierCollectionSelect').children()[0].selected = true;
        jQuery('#APISIdentifierCollectionSelect).addClass('invisible');
      }
    
    reset_vol_doc_em();
  });
- cache(:action => 'dashboard', :part => 'publication_selector') do
  - unless defined? hide_text
    %p== Existing publication:
  = form_tag :controller => 'publications', :action => "create_from_selector" do
    -if emend == :helper
      = select_tag('IdentifierClass', options_for_select([%w{DDB DDBIdentifier},%w{HGV HGVIdentifier},%w{APIS APISIdentifier}]), :onchange => "IDClassChange(this.options[this.selectedIndex].value);".html_safe)
      = select_tag("APISIdentifierCollectionSelect", options_for_select([['','']] + APISIdentifier.collection_names_hash.sort), :class => 'invisible', :onchange => "reset_selector(jQuery('#document_number'));jQuery('#volume_number').disabled=true;jQuery('#document_number').disabled='';jQuery('#emend_button').disabled='';get_apis_documents();if(this.options[0].value==''){this.remove(0)}".html_safe)
    -else
      = select_tag('IdentifierClass', options_for_select([%w{DDB DDBIdentifier},%w{HGV HGVIdentifier},%w{APIS APISIdentifier}]), 
        :onchange => "['DDB','HGV','APIS'].each(function(i){if (jQuery('#IdentifierClass').val() == i + 'Identifier') {$(i + 'IdentifierCollectionSelect').removeClass('invisible')} else {$(i + 'IdentifierCollectionSelect).addClass('invisible')}}); reset_vol_doc_em();".html_safe)
    - [DDBIdentifier, HGVIdentifier].each do |identifier_class|
      = select_tag("#{identifier_class}CollectionSelect", options_for_select([['','']] + identifier_class.collection_names_hash.invert.sort), :class => identifier_class == DDBIdentifier ? '' : 'invisible', :onchange => "reset_selector(jQuery('#document_number'));jQuery('#volume_number').disabled='';update_volumes();jQuery('#document_number').disabled=true;jQuery('#emend_button').disabled='';if(this.options[0].value==''){this.remove(0)}".html_safe)
    = select_tag("APISIdentifierCollectionSelect", options_for_select([['','']] + APISIdentifier.collection_names_hash.sort), :class => 'invisible', :onchange => "reset_selector(jQuery('#document_number')); jQuery('#volume_number').disabled=true; jQuery('#document_number').disabled=''; jQuery('#emend_button').disabled=''; get_apis_documents(); if(this.options[0].value==''){this.remove(0)}".html_safe)
    = select_tag 'volume_number', nil, :disabled => true, :style => 'min-width: 5em;', :onchange => "jQuery('#document_number').disabled='';update_documents();if(this.options[0].value==''){this.remove(0)}".html_safe
    = select_tag 'document_number', nil, :disabled => true, :style => 'min-width: 5em;', :onchange => "if(this.options[0].value==''){this.remove(0)};".html_safe
    -if emend == :showemend
      = submit_tag "Emend", :disabled => true, :id => 'emend_button'
    -else
      = submit_tag "Emend", :disabled => true, :id => 'emend_button', :style => 'display:none'
